{% extends 'CPANABasicBlogBundle::layout.html.twig' %}

{% block title %}New post{% endblock%}

{% block body %}


		<p><a href="{{ path('CPANABasicBlogBundle_admin_bloghome') }}">Go to admin blog home page</a></p>
		
			<form action="{{ path('CPANABasicBlogBundle_admin_add_post') }}" method="post" {{ form_enctype(form) }} >
			{{ form_start(form, {'method': 'POST', }) }}
				<div>
					{{ form_errors(form) }}
				</div>
				<div>
					{{ form_widget(form.title, { 'attr': { 'placeholder': 'form.title'|trans({}, 'CPANABasicBlogBundle') } }) }}
					{{ form_errors(form.title) }}
				</div>
				<div>
					{{ form_widget(form.author, { 'attr': {'placeholder': 'form.author'|trans({}, 'CPANABasicBlogBundle') } }) }}
					{{ form_errors(form.author) }}
				</div>
				
				<div>
					{{ form_widget(form.blog, { 'attr': {'placeholder': 'form.blog'|trans({}, 'CPANABasicBlogBundle') } }) }}
					{{ form_errors(form.blog) }}
				</div>	
				<div>
					{{ form_widget(form.image, { 'attr': { 'placeholder': 'form.image'|trans({}, 'CPANABasicBlogBundle') } }) }}
					{{ form_errors(form.image) }}
				</div>					
				<div>
				{{ form_rest(form) }}
				</div>
				
				<div class="row">
					<div class="col-sm-6 text-right">
						<input class="btn btn-action" type="submit" value="Submit" />
					</div>
				</div>
			</form>
		

{% endblock %}